

.criminalsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
  .criminal__card{
    background-color: lightgray;
    border: 1px dotted lightblue;
    flex-basis: 31%;
    margin: 10px;
    max-width: 25%; 
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  padding: 15px;
}
  
.dialogcriminals{
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.associate_button{
background-color: ghostwhite; 
text-align: center;
}

.associate_button:active {
  background-color: darkgray;
}